/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

/* set border radius on md */
/* @media (min-height: 600px) {
  .md {
    --border-radius: 5em;
  }
} */

/* center titles on md */
.md ion-title {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  height: 0;
}

.md ion-list-header {
  font-size: 130%;
}

/* set background of progress bar color to be mixed with black or white */
ion-progress-bar {
  --background: color-mix(in srgb, var(--progress-background) 40%, white);
}

.ion-palette-dark ion-progress-bar {
  --background: color-mix(in srgb, var(--progress-background) 40%, black);
}

:root.md {
  --ion-color-primary: #39b54a;
  --ion-color-primary-rgb: 57, 181, 74;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #329f41;
  --ion-color-primary-tint: #4dbc5c;
}

/* increase ios toolbar height */
:root.ios ion-toolbar {
  --min-height: 56px;
}

/* Dark mode adjustments */
/* (https://ionicframework.com/docs/theming/dark-mode#system) */
/* This sets a different item border color for the default theme on ios and md */
:root {
  --ion-item-border-color: var(--ion-background-color-step-200);
}

/* color scheme adjustment - scrollbars etc */
:root {
  color-scheme: light;
}
:root.ion-palette-dark {
  color-scheme: dark;
}

/* This sets a different background and item background for the default theme on ios */
:root.ios {
  --ion-background-color: var(--ion-background-color-step-50, #f2f2f6);
  --ion-toolbar-background: var(--ion-background-color);
  --ion-item-background: #fff;
}

/* This sets a different background and item background for the default theme on md */
:root.md {
  --ion-background-color: var(--ion-background-color-step-100, #f3f3f3);
  --ion-toolbar-background: var(--ion-background-color);
  --ion-item-background: #fff;
}

/* This sets a different item background when dark mode is enabled on ios and md */
.ion-palette-dark.ios,
.ion-palette-dark.md {
  --ion-item-background: #1c1c1d;
}

/* adjust modal color on ios */
.ion-palette-dark.ios ion-modal {
  --ion-item-background: var(--ion-background-color-step-150);
}
