/* styles for popover on ios */
.ios ion-popover {
  --backdrop-opacity: 0.4;
}

/* .ios ion-popover ion-content ion-list ion-item {
  --background: rgba(var(--ion-color-light-rgb), 0.8);
}

ion-popover ion-content ion-list ion-item ion-icon {
  color: var(--ion-color-dark);
} */

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate {
  animation: fadeInScale 0.4s ease-in-out;
}

#quiz-footer ion-chip {
  --background: var(--ion-item-background);
  color: inherit;
  cursor: text;
}

/* #question-header {
  animation: none !important;
  transform: none !important;
} */

#question-content {
  text-align: center;
  text-align-last: center;
}

#question-answers ion-item {
  text-align: center;
  text-align-last: center;
}
#question-answers ion-list {
  padding: 0;
  border: 0.2em solid var(--ion-item-background);
  transition: border 0.1s ease;
  transition: color 0.1s ease;
  margin: 0.5em;
  margin-bottom: 0.6em;
}

.ios #question-answers ion-list {
  border-radius: 0.5em;
}

#question-buttons {
  margin: 0.6em;
}

/* answer feedback */
/* X */
#question-answers ion-list.selected {
  border: 0.2em solid var(--ion-color-medium-shade);
}

/* correct and selected */
#question-answers.check ion-list.correct.selected {
  border: 0.2em solid var(--ion-color-success-shade);
}
/* correct and not selected */
#question-answers.check ion-list.correct {
  border: 0.2em solid var(--ion-color-warning-shade);
}

/* wrong and selected */
#question-answers.check ion-list.wrong.selected {
  border: 0.2em solid var(--ion-color-danger-shade);
}
/* wrong and not selected */
#question-answers.check ion-list.wrong {
  border: 0.2em solid var(--ion-item-background);
}

/* Y */
#question-answers.check ion-list.correct:has(ion-select) {
  border: 0.2em solid var(--ion-item-background);
}
#question-answers.check .correct ion-select::part(text),
#question-answers.check .correct ion-select::part(placeholder) {
  color: var(--ion-color-success-shade);
}

#question-answers.check .wrong ion-select::part(text),
#question-answers.check .wrong ion-select::part(placeholder) {
  color: var(--ion-color-danger-shade);
}

#question-answers ion-note {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  transform: scaleY(0);
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: transform 0.2s ease, opacity 0.2s ease, margin 0.2s ease;
}
#question-answers.check ion-note {
  margin-bottom: 1em;
  transform: scaleY(1);
  opacity: 1;
  height: auto;
}
#question-answers.check ion-note span {
  color: var(--ion-color-success-shade);
}
