/* styles for popover on ios */
.ios ion-popover {
  --backdrop-opacity: 0.4;
}

/* .ios ion-popover ion-content ion-list ion-item {
  --background: rgba(var(--ion-color-light-rgb), 0.8);
}

ion-popover ion-content ion-list ion-item ion-icon {
  color: var(--ion-color-dark);
} */
ion-chip {
  --background: var(--ion-item-background);
}

#question-content {
  text-align: justify;
  text-align-last: center;
}

#question-answers ion-item {
  text-align: justify;
  text-align-last: center;
}
#question-answers ion-list {
  margin: 0.5em;
  margin-bottom: 0.6em;
}

#quiz-footer ion-chip {
  color: inherit;
  cursor: text;
}
